@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.bodyAccueil {
  background-image: url(/asset/img/photoPrincipale.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bodyArticle {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(20, 20, 20, 0.9)), url(/asset/img/photoPrincipale.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bodyArticleDetail {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(20, 20, 20, 0.9)), url(/asset/img/photoPrincipale.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bodyProfilList {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(20, 20, 20, 0.9)), url(/asset/img/photoPrincipale.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  text-align: center;
  margin-top: 300px;
  font-size: 4rem;
  color: #fff;
}

.barrePub {
  padding: 4px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  font-family: "Spectral", serif;
  border-bottom: 4px solid #ffffff;
  border-top: 2px solid #ffffff;
}

header {
  padding: 20px;
  border-bottom: 5px solid #ffffff;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 950px;
  gap: 50px;
}
header nav ul .flexNav {
  display: flex;
  justify-content: space-between;
  width: 210px;
}
header nav ul li {
  display: flex;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}
header nav .boiteIcons {
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0;
  margin-right: 100px;
}
header nav .boiteIcons i {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.barrePubBootstraps {
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  font-family: "Spectral", serif;
  border-bottom: 4px solid #ffffff;
  border-top: 2px solid #ffffff;
}
.barrePubBootstraps p {
  margin-top: 10px;
}

header {
  padding: 20px;
  border-bottom: 5px solid #ffffff;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 950px;
  gap: 50px;
}
header nav ul .flexNav {
  display: flex;
  justify-content: space-between;
  width: 210px;
}
header nav ul li {
  display: flex;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}
header nav .boiteIcons {
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0;
  margin-right: 100px;
}
header nav .boiteIcons i {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.title-product {
  text-align: center;
  font-size: 5rem;
  color: #fff;
  margin-top: 40px;
}

.container-product {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 35% 35%;
  margin: auto !important;
  gap: 30px;
  margin-top: 60px;
  padding: 40px;
}
.container-product .product {
  width: 600px;
  height: 500px;
  text-align: center;
  background-color: #919191;
}
.container-product .product a {
  text-decoration: none;
}
.container-product .product .image {
  width: 600px;
  height: 400px;
  cursor: pointer;
}
.container-product .product .title {
  color: #fff;
  font-size: 2rem;
  margin-top: 10px;
  font-family: "Spectral";
  cursor: pointer;
}
.container-product .product .price {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Spectral";
}

@media only screen and (min-width: 1024px) {
  .title-product {
    text-align: center;
    font-size: 5rem;
    color: #fff;
    margin-top: 40px;
  }
  .container-product {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 35% 35%;
    margin: auto !important;
    gap: 30px;
    margin-top: 60px;
    padding: 40px;
  }
  .container-product .product {
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: #d2d2d2;
  }
  .container-product .product a {
    text-decoration: none;
  }
  .container-product .product .image {
    width: 500px;
    height: 300px;
    cursor: pointer;
  }
  .container-product .product .title {
    color: #fff;
    font-size: 2rem;
    margin-top: 10px;
    font-family: "Spectral";
    cursor: pointer;
  }
  .container-product .product .price {
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bold;
    font-family: "Spectral";
  }
}
.titleAjtVehicule {
  text-align: center;
  font-size: 4rem;
  color: #fff;
  margin-top: 40px;
  font-family: "Spectral";
}

.mainAjtVehicule {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: "Spectral";
}
.mainAjtVehicule .formAjtVehicule {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding: 70px 120px;
  background-color: rgba(0, 0, 0, 0.635);
}
.mainAjtVehicule .formAjtVehicule .boiteAjtVehicule {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color: #fff;
}
.mainAjtVehicule .formAjtVehicule .boiteAjtVehicule label {
  font-size: 1.5rem;
}
.mainAjtVehicule .formAjtVehicule .boiteAjtVehicule input {
  width: 300px;
  height: 30px;
  border-radius: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0.368627451);
}
.mainAjtVehicule .formAjtVehicule .boiteAjtVehicule button {
  width: 150px;
  height: 35px;
  margin-top: 40px;
  color: #000;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Spectral";
}

.nameProfilUser {
  position: absolute;
  top: 45px;
  display: flex;
  justify-content: center;
}
.nameProfilUser .nameUser {
  font-weight: bold;
  margin-left: 50px;
  text-transform: uppercase;
}
.nameProfilUser img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.nameProfilUserBootstraps {
  position: absolute;
  top: 65px;
  display: flex;
  justify-content: center;
}
.nameProfilUserBootstraps .nameUser {
  font-weight: bold;
  margin-left: 50px;
  text-transform: uppercase;
}
.nameProfilUserBootstraps img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.btnLog {
  position: absolute;
  margin-left: 50px;
  text-decoration: none;
  color: #0b8000;
  font-size: 1.2rem;
  font-weight: bold;
}

.btnLog2 {
  position: absolute;
  margin-left: 100px;
  text-decoration: none;
  color: #ff0000;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.titleLogin {
  margin-top: 80px;
  font-size: 4.5rem;
}

/* Style du formulaire */
.login {
  max-width: 400px;
  /* margin: 0 auto; */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7215686275);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  margin: auto;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

/* Style des étiquettes */
.login label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Style des champs de texte */
.login input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style du bouton */
.login button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2e5830;
}

table {
  width: 100%;
}

thead > tr > th {
  padding: 8px;
  background-color: #f0f0f4;
  font-weight: bold;
  text-align: left;
  text-align: center;
}

tbody > tr > td {
  padding: 3px;
  text-align: left;
  border-bottom: 1px dashed;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6039215686);
  font-weight: bold;
}
tbody > tr > td img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
tbody > tr > td a {
  width: 20px;
  height: 40px;
}
tbody > tr > td a img {
  width: 30px;
  height: 32px;
  cursor: pointer;
}

h4 {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  margin-top: 40px;
}

#listUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}
#listUser div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5529411765);
}
#listUser div a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  color: rgb(179, 255, 0);
}
#listUser div img {
  width: 450px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 80px;
  margin-top: 150px;
}
main .AjtImgProfil {
  padding: 40px 80px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6549019608);
}
main .AjtImgProfil div {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px;
  font-size: 2rem;
  font-family: "Spectral";
}
main .AjtImgProfil div button {
  width: 150px;
  height: 35px;
  margin-top: 40px;
  color: #000;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Spectral";
}

.mt-5 {
  font-family: "Spectral";
}

.arboPageDetail {
  color: #fff;
}

.product-title {
  color: #fff;
}

.price {
  color: #fff;
}

.formCommentaire .boiteSaisieCommentaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.formCommentaire .boiteSaisieCommentaire label {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Spectral";
}
.formCommentaire .boiteSaisieCommentaire textarea {
  width: 700px;
  height: 200px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5058823529);
  padding: 10px;
}
.formCommentaire .boiteAjtCommentaire {
  text-align: center;
}
.formCommentaire .boiteAjtCommentaire button {
  width: 150px;
  height: 35px;
  margin-top: 20px;
  color: #000;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Spectral";
}

.container-commentaire {
  text-align: center;
  margin-top: 40px;
  padding: 5px;
}
.container-commentaire .user-commentaire {
  color: #ff0000;
}
.container-commentaire .date-commentaire {
  color: #fff;
}
.container-commentaire .commentaire {
  color: #fff;
  font-family: "Spectral";
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
