.promo {
    background-color: #f37923;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-family: "Spectral", serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #a8a8a8 !important;
   

    .version-desktop {
        display: none;
      
    }
    .container-logo{
        width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
        h1 {
            width: 250px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 250px;
                height: 100px;  
            }
    }
}
    
    border-bottom: 0.5px solid #e7e7e7;
    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            justify-content: center;
            margin: auto;
            width: 950px;
            gap: 50px;
            .flexNav {
                display: flex;
                justify-content: space-between;
                width: 210px;
               
            }
            li {
                display: flex;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }
        }
        
        .boiteIcons {
            width: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            position: absolute;
            right: 0;
            margin-right: 100px;

            i {
                font-size: 2rem;
                color: #fff;
                cursor: pointer;
            }
   
        }
    }
    .mobile-first {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.968);
        left: -140%;
        top: 0;
        width: 93%;
        height: 100%;
        transition: left 0.3s ease;
        z-index: 200;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        overflow-x: auto;
        .flex-column{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            position: relative;
            height: 90%;
            .boiteReseauxScl{
                display: flex;
                justify-content: flex-start;
                width: 50%;
                
                // Réseaux sociaux en bas
    .listReseauxScl {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 20px;
        
        
    }
    
    .listReseauxScl li {
        margin-right: 5px;
        
    }
    
    .listReseauxScl a {
        text-decoration: none;
    }
    
    .listReseauxScl i {
        font-size: 1.5rem;
        color: rgb(62, 62, 62);
        transition: color 0.3s ease;
    }
    
    .listReseauxScl i:hover {
        color: #ffb163;
    }
    

    .barre-recherche-tablette {
        display: none;
    }
            }
        }
        .boiteLogin-mobile-first{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            padding: 20px;
           .infoUser{
            font-weight: bold;
            font-size: 1.2rem;
            font-family: "Spectral", serif;
           }
           .boiteDeconnexion{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            .nameDeconnexion{
                font-weight: bold;
                color: red;
             }

           .btnDeconnexion{
            text-decoration: none;
            color: red;
            font-weight: bold;
            
           

            .bx-exit{
                font-size: 2rem;
               
              
            }
        }           
        }

        }
       
    }
    
    // Logo en haut
    .logoNavbar {

        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    .mobile-first img {
        width: 130px;
        height: auto;
    }
    // Style des liens de la liste
    .mobile-first .listSite {
        list-style: none;
      
        width: 100%; // S'assure que la liste prend toute la largeur du parent
        height: 50%;
        display: flex;
        flex-direction: column; // Assure que les éléments sont empilés verticalement
        align-items: flex-start; // Aligne les éléments à gauche
    }
    .mobile-first .listSite li {
        border-bottom: 1px solid #e1e1e1;
        width: 80%;
        text-align: left;
    }
    .mobile-first .listSite li a {
        text-decoration: none;
        color: #6e6e6e;
        transition: color 0.3s ease;
        font-size: 1.2rem;
        font-weight: 500;
       
    }
    
    .mobile-first .listSite li a:hover {
        color: #ff8000;
    }
    
    // Bouton de fermeture en haut à droite
    #close-btn {
        font-size: 2.7rem;
        position: absolute;
        top: 20px;
        right: 20px;
        color: #5b5b5b;
        font-weight: 600;
    }
    
    

    .header-version-m-t-p {
        display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        #cart-icon-first{
           
            color: #000;
            font-size: 2rem;
         
        }
        .boiteLogin{
        display: none;
    }
    }
    .bx-shopping-bag sup {
        background-color: #f37923;
        border-radius: 100%;
        color: #ffffff;
        font-weight: bold;
        font-size: 1.2rem;
        position: absolute;
        padding: 1px;
        top: 92px ;
        right: 14px;
        width: 14px;
        height: 15px;
        line-height: 9px;
        text-align: center;
        padding: .1rem;
    }

    .bx-user {
        display: none;
    }

    .barre-recherche-pc {
        display: none;
    }
    .boiteLogin{
        display: none;
    }
}


@media only screen and (min-width: 762px) and (max-width: 1341px) {
    .header-top_container{
       display: none;
    }
    .header-top_container-destock{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }
    
    header {
        display: block;
        .container-logo{
            h1 {
                width: 120px;
                height: 120px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img {
                    width: 120px;
                    height: 125px;
                    text-align: center;
                }
        }
    }
        
        .header-version-m-t-p {
            display: flex;
            width: auto !important;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            .container-logo{
                width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
                h1 {
                    width: 400px;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center !important;
                    img {
                        width: 400px;
                        height: 150px; 
                    }
            }
        }
        
        }

        .mobile-first_menu_logo {
            display: none;
        }

        .barre-recherche-tablette {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .tablette-first_recherche_cart {
            display: block;
            width: 100px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .bx-search {
                display: none;
            }
        }

        .search {
            border: 1.8px solid #393939;
            height: 37px;
            width: 98%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
            margin: 3px;
        }

        .search-field {
            margin-right: 150px;
            border-radius: 8px;
            width: 92%;
            height: 20px;
            position: absolute;
            border: none;
        }

        .search-field::placeholder {
            font-size: 1.1rem;
            color: #c0c0c0;
        }

        .search button {
            background-color: #fff;
            border: none;
        }

        .bx-search {
            font-weight: bold;
            font-size: 1.5rem;
            background-color: #fff;
            text-align: center;
            display: block;
        }

        .bx-user {
            display: block;
        }

        .bx-shopping-bag sup {
            background-color: #f37923;
            border-radius: 100%;
            color: #ffffff;
            font-weight: bold;
            font-size: 1.2rem;
            position: absolute;
            padding: 1px;
            top: 120px !important;
            right: 16px !important;
            width: 14px;
            height: 15px;
            line-height: 9px;
            text-align: center;
            padding: .1rem;
        }

        input,
        textarea {
            background: #fff;
            border: none;
            outline: none;
            padding: .6rem;
            box-shadow: var(--box-shadow);
            margin: .5rem 0;
            border: 1px solid var(--orange);
            width: 100%;
        }

        button {
            background-color: #000;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .barre-recherche-pc {
            display: none;
        }
        
    }
}

@media only screen and (min-width: 1330px) {
    .header-top_container{
        display: none;
     }
     .header-top_container-destock{
         margin: auto;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0 30px;
     }
    header {
        display: block;
        padding: 0px 10px;
        .boiteLogin{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            margin-bottom: -60px;
            margin-left: 75px;
           .infoUser{
            font-weight: bold;
            font-size: 1.2rem;
            font-family: "Spectral", serif; 
           }
           .boiteDeconnexion{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            .nameDeconnexion{
                font-weight: bold;
                color: red;
             }

           .btnDeconnexion{
            text-decoration: none;
            color: red;
            font-weight: bold;
            
           

            .bx-exit{
                font-size: 2rem;    
            }
        }           
        }
        }
        

        .header-version-m-t-p {
            display: flex;
            width: auto !important;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            #cart-icon-first{
                display: none;
            }

            .container-logo{
                width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
                h1 {
                    width: 400px;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 400px;
                        height: 150px;
                        margin-top: 20px; 
                    }
            }
        }
        
        }

        .barre-recherche-tablette {
            display: none;
        }
        .tablette-first_recherche_cart {
            display: flex;
            width: 75px;
            display: flex;
            align-items: center;
            justify-content: space-between;
         
          right: 0;
          margin-right: 40px;
            position: absolute;
            .bx-search {
                display: none;
            }
        

        .bx-user {
            display: block;
        }
        #cart-icon {
            font-size: 2.1rem;
            font-weight: 500;
            cursor: pointer;
            margin-top: 6px;
           
        }
    }
        .bx-shopping-bag sup {
            background-color: #f37923;
            border-radius: 100%;
            color: #ffffff;
            font-weight: bold;
            font-size: 1.2rem;
            position: absolute;
            padding: 1px;
            top: 1px;
            right: -7px;
            width: 14px;
            height: 15px;
            line-height: 11px;
            text-align: center;
            padding: .1rem;
        }
        input,
        textarea {
            background: #fff;
            border: none;
            outline: none;
            padding: .6rem;
            box-shadow: var(--box-shadow);
            margin: .5rem 0;
            border: 1px solid var(--orange);
            width: 100%;
        }

        button {
            background-color: #000;
            border: none;
            outline: none;
            cursor: pointer;
        }

        #menu-btn {
            display: none;
        }

        .barre-recherche-pc {
            display: block;

            .search {
                border: 1px solid #393939;
                height: 40px;
                width: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 8px;
                margin: 3px;

                position: absolute;
                margin-top: -10px;

            }

            .search-field {
                margin-right: 150px;
                border-radius: 8px;
                width: 88%;
                height: 20px;
                position: absolute;
                border: none;
            }

            .search-field::placeholder {
                font-size: 1.1rem;
                color: #c0c0c0;
            }

            .search button {
                background-color: #fff;
                border: none;

            }

            button {
                margin-right: 5px;
            }
        }

        .version-desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65px;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                width: 70%;
            }
            li {
                text-align: center;
            }
            a {
                text-decoration: none;
                color: #000;
                font-size: 1.2rem;
                font-weight: 600;
                font-family: 'Spectral', serif;
            }
            .bx-user{
                font-size: 2.1rem;
            }
        }
       
    }
}