table {
    width: 100%;
}

thead>tr>th {
    padding: 8px;
    background-color: #f0f0f4;
    font-weight: bold;
    text-align: left;
    text-align: center;
}

tbody>tr>td {
    padding: 3px;
    text-align: left;
    border-bottom: 1px dashed;
    color: #fff;
    background-color: #0000009a;
    font-weight: bold;
    img{
        width: 60px;
        height: 60px;
        cursor: pointer;

    }

    a{
        width: 20px;
        height: 40px;
    img{
        width: 30px;
        height: 32px;
        cursor: pointer;

    }
    }
}